# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env
venv_python
vic_notes.txt
.venv

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

#Vic Guide
setup.txt

# RAG data – uploaded documents and generated vector store (runtime data)
backend/rag_data/vector_store/
backend/rag_data/documents/
backend/rag_data/feedback.json
backend/rag_data/interactions.json
backend/rag_data/documents.json
